:root {
  font-size: 18px;
  line-height: 1.43;
  font-family: ginto, sans-serif;
}
@media(min-width: 1100px) {
  :root {
    font-size: 20px;
  }
}

body {
  margin: auto;
  max-width: 1150px;
  padding: 1rem;
  background: blue;
  color: #fff;
}
h1 {
  font-size: 7rem;
  line-height:1;
  color: blue;
  text-shadow:
  -1px -1px 0 #fff,  
   1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
  margin-top: 1rem;
}
h2 {font-size: 2rem; margin-bottom: 0.5rem; line-height: 1.1; margin-top: 2rem;}
a {
  color: #fff;
  text-decoration: none;
}

.btn {
  display: inline-block;
  background: blue;
  border: 1px solid #fff;
  margin: 0 1rem 1rem 0;
  padding: 0.5rem 1rem 0.75rem 1rem;
  border-radius: 0px;
}

.btnlink {
  color: darkblue;
}

.button-title {
  font-size:1.5rem;
}
.button-desc {
  font-size: 0.7rem;
}

.box {
  display: inline-block;
  background: white;
  color: darkblue;
  border: 1px solid #fff;
  margin: 0 1rem 1rem 0;
  padding: 0.5rem 1rem 0.75rem 1rem;
  border-radius: 0px;  
}

#mitarbeiter, #impressum {
  font-size: 0.8rem;
}
#impressum {
  margin-bottom: 3rem;
}

@font-face {
  font-family: ginto;
  src: url('gintonordmedium.otf');
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
